<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>WORLD CAPITAL GAME</title>
  </head>
  <body>
    <h1>world capitals game</h1>
    <p>
      Select the capital city that correctly matches the country and flag named.
    </p>
    <form action="/submit" method="post">
      <h3>country flag</h3>
      <input type="submit" value="option[0]" />
      <input type="submit" value="option[1]" />
      <input type="submit" value="option[2]" />
    </form>
  </body>
</html>
